// Styling for the masthead
header.masthead {
  text-align: center;
  color: white;
  
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
  position: relative;
  &:before{
    content: "";
    background-color: rgba(12, 27, 8, .5);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 0;
    
  }
  .intro-text {
    padding-top: 150px;
    padding-bottom: 100px;
    position: relative;
    z-index: 9;
    .intro-lead-in {
      font-size: 22px;
      line-height: 22px;
      margin-bottom: 25px;
      @include main-font;
    }
    .intro-heading {
      font-size: 50px;
      font-weight: 700;
      line-height: 50px;
      margin-bottom: 25px;
      @include main-font;
    }
  }
  .carousel-item {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    
    min-height: 80vh;
    &:before{
      content: "";
      top: 0;
      left: 0;
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 2;
      background-color: #080d15;
      opacity: .7;
    }
  }
}
@media(min-width:768px) {
  header.masthead {
    .intro-text {
      padding-top: 300px;
      padding-bottom: 200px;
      .intro-lead-in {
        font-size: 40px;
        line-height: 40px;
        margin-bottom: 25px;
        @include main-font;
      }
      .intro-heading {
        font-size: 75px;
        font-weight: 700;
        line-height: 75px;
        margin-bottom: 50px;
        @include main-font;
      }
    }
  }
}